<h2>Client Details Form</h2>
<div class="wrapper">
  <div class="row">
    <label>Full Name: </label>
    <input (input)="onNameChange($event.target.value)"/> 
    <div class="output">
      {{clientName | titlecase}}
    </div>    
  </div>

  <div class="row">
    <label>Date of birth: </label>
    <input (input)="onDateChange($event.target.value)" type="date"/> 
    <div class="output">
      {{ clientDateOfBirth | date: 'dd-MMMM-y' }}
    </div>
  </div>

  <div class="row">
    <label>Annual Salary: </label>
    <input (input)="onSalaryChange($event.target.value)"/> 
    <div class="output">
      {{ annualSalary | currency }}
    </div>
  </div>

</div>

